a:link {
    text-decoration: none;
    color: black;
}

#myGif {
    width: 300px;  /* or any desired width */
    height: auto;  /* maintains the image's aspect ratio */
}

.gif {
    display: grid;
    place-items: center;
    height: 100vh; /* adjust as necessary */
}
