.navigation-bar-color {
    background-color: #e3f2fd;
}

.font-style-brand {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.active{
    background-color: #bde8f3 !important;
}

.nav-item .logout-button {
    color: #f80606; /* Color for the text */
    background-color: #cecece; /* Transparent background */
    border-width: 2px; /* Border width */
}

.nav-item .logout-button:hover {
    color: #ffffff; /* Color of text on hover */
    background-color: #f80606; /* Background color on hover */
}